<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-permission android:name="android.permission.CAMERA" />
  <application
      android:name=".TwoFactorApp"
      android:allowBackup="true"
      android:icon="@mipmap/appicon"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/appicon_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
  </application>
</manifest>
